#sticker {
    background: #d5f3ff;
    color: white;
    width: 100%;
    /*font-family: Droid Sans;*/
    font-size: 1.2em;
    line-height: 1.3em;
    font-weight: bold;
    text-align: left;
    padding: 20px;
    /*text-shadow: 0 1px 1px rgba(0,0,0,.2);*/
    border-radius: 10px;
    float:right;
  }

  #wrapper {
    width:25%;
    margin-left:3em;
    /*margin:0 auto;*/
  }

  .scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background:url('icon_top.png')no-repeat;
    }
    